<?xml version="1.0"?>
<config>
    <modules>
        <Sourcefuse_Sfcaptcha>
            <version>0.1.0</version>
        </Sourcefuse_Sfcaptcha>
    </modules>
    <frontend>
        <routers>
            <sfcaptcha>
                <use>standard</use>
                <args>
                    <module>Sourcefuse_Sfcaptcha</module>
                    <frontName>sfcaptcha</frontName>
                </args>
            </sfcaptcha>
        </routers>
        <layout>
            <updates>
                <sfcaptcha>
                    <file>sfcaptcha.xml</file>
                </sfcaptcha>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <sfcaptcha>
                <class>Sourcefuse_Sfcaptcha_Helper</class>
            </sfcaptcha>
        </helpers>
    </global>
     <default>
        <sourcefuse_section>
            <sourcefuse_group>
                <enabled>1</enabled>
                <contactus>1</contactus>
				<signin>1</signin>
				<signup>1</signup>
				<review>1</review>
            </sourcefuse_group>
        </sourcefuse_section>
    </default>
</config>
